# Configuration File for fb_update.py and fb_run.py

[update]
# Path to the document root of the apache server hosting the Firebug tests
serverpath = /var/www/

[run]
# URL to the server root hosting the Firebug tests
serverpath = http://10.250.4.118
# Version of Firebug to test
firebug_version = 1.6

[log]
# URI to the couchdb which will store the log information
couch_server = http://localhost:5984
# Name of the database which stores the log information
database_name = firebug
