# Configuration File for fb-update.py and fb-run.py

[update]
serverpath = /var/www/

[run]
serverpath = http://localhost/
firebug_version = 1.6
# Set this to the Firefox default profile.  If auto_profile is on, this will be used as a backup in case the default can't be found automatically
profile = path_to_default_profile
auto_profile = on
